<%@ page contentType="text/html;charset=UTF-8"%>
<%@ include file="/WEB-INF/views/public/taglibs.jsp"%>
		  <table width="88%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
             <td height="27" align="left"><p class="help_zt12y">${newsChannel.name}</p></td>
          </tr>
          #foreach ($news in ${newsChannel.newsInfos})
	       <tr>
	         <td height="27" align="left"><a href="${ctx}/cache/news/${newsChannel.id}/${news.id}.jsp" class="help_dd">&#149;&nbsp;${news.name}</a></td>
	      </tr>
	      #end
	      
		  </table>