<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
<context:property-placeholder location="classpath*:/filterChar.properties" ignore-unresolvable="true"/>
<bean id="reportJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.gdwz.crawler.Crawler"/>
		<property name="durability" value="true"/>
		<property name="jobDataAsMap">
			<map>
				<entry key="jobs">
					<list>

                        <bean class="com.gdwz.crawler.JobProperties">
                            <property name="url" value="http://www.gtwg001.com/show/selectTime.htm?id=1&amp;time=12"></property>
                            <property name="jobFilePath" value="crawler/"></property>
                            <property name="jobFileName" value="gcjgzszst.html"></property>
                            <property name="description" value="钢材价格指数走势图"></property>
                            <property name="outFormat" value="text"></property>
                        </bean>

						<bean class="com.gdwz.crawler.JobProperties">
							<property name="url" value="http://www.gtwg001.com/show/indexPirce.htm"></property>
							<property name="jobFilePath" value="crawler/"></property>
							<property name="jobFileName" value="gcjgzs.html"></property>
							<property name="description" value="钢材板块价格指数"></property>
							<property name="select" value=".zsTable1 table tr"></property>
							<property name="listNumber" value="21"></property>
							<property name="replace">
								<map>
									<entry key="192.168.201.42:8079" value="www.gtwg001.com"></entry>
								</map>
							</property>
						</bean>
						<bean class="com.gdwz.crawler.JobProperties">
							<property name="url" value="http://www.gtwg001.com/show/indexPirce.htm"></property>
							<property name="jobFilePath" value="crawler/"></property>
							<property name="jobFileName" value="gcjgzs1.html"></property>
							<property name="description" value="钢材板块价格指数附加1"></property>
							<property name="select" value=".zsTable2 table tbody tr"></property>
							<property name="listNumber" value="21"></property>
							<property name="replace">
								<map>
									<entry key="192.168.201.42:8079" value="www.gtwg001.com"></entry>
								</map>
							</property>
						</bean>



<!--                        <bean class="com.sxp.crawler.JobProperties">
                            <property name="url" value="http://www.yuzhuprice.com/"></property>
                            <property name="jobFilePath" value="crawler/"></property>
                            <property name="jobFileName" value="mcjgzs.html"></property>
                            <property name="description" value="木材板块价格指数"></property>
                            <property name="select" value="#wrap_main .item2 .category_imfor_title table tbody tr"></property>
                            <property name="listNumber" value="1"></property>
                            <property name="replace">
                                <map>
                                    <entry key="<th>" value="<td>"></entry>
                                    <entry key="</th>" value="</td>"></entry>
                                </map>
                            </property>
                        </bean>-->
                        <bean class="com.gdwz.crawler.JobProperties">
                            <property name="url" value="http://www.yuzhuprice.com/data/index/exponent_table_day.txt"></property>
                            <property name="jobFilePath" value="crawler/"></property>
                            <property name="jobFileName" value="mcjgzs1.html"></property>
                            <property name="description" value="木材板块价格指数附加1"></property>
                            <property name="select" value="table tbody tr"></property>
                            <property name="listNumber" value="7"></property>
                            <property name="replace">
                                <map>
                                    <entry key="images/gr.gif" value="http://www.yuzhuprice.com/images/gr.gif"></entry>
                                    <entry key="images/red.png" value="http://www.yuzhuprice.com/images/red.png"></entry>
                                    <entry key="background-color:#D8D8DB;" value=""></entry>
                                    <entry key="width" value=""></entry>
                                    <entry key="height:20px" value=""></entry>
                                </map>
                            </property>
                        </bean>
                        <bean class="com.gdwz.crawler.JobProperties">
                            <property name="url" value="http://www.yuzhuprice.com/data/index/exponent_chart_day.txt"></property>
                            <property name="jobFilePath" value="crawler/"></property>
                            <property name="jobFileName" value="mcjgzszst.html"></property>
                            <property name="description" value="木材价格指数走势图"></property>
                            <property name="outFormat" value="text"></property>
                        </bean>
  <!--                      <bean class="com.sxp.crawler.JobProperties">
                            <property name="url" value="http://www.yuzhuprice.com/data/index/exponent_chart_day.txt"></property>
                            <property name="jobFilePath" value="crawler/"></property>
                            <property name="jobFileName" value="mcjgzszst.html"></property>
                            <property name="description" value="木材价格指数走势图"></property>
                            <property name="outFormat" value="text"></property>
                        </bean>
                        <bean class="com.sxp.crawler.JobProperties">
                            <property name="url" value="http://www.yuzhuprice.com/data/index/exponent_chart_day_title.txt"></property>
                            <property name="jobFilePath" value="crawler/"></property>
                            <property name="jobFileName" value="mcjgzszstbt.html"></property>
                            <property name="description" value="木材价格指数走势图标题"></property>
                            <property name="select" value="li"></property>
                        </bean>-->
					</list>
				</entry>
			</map>
		</property>
	</bean>
	<!-- 配置定时器 linuex -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">   
		<property name="jobDetail" ref="reportJob" />   
		<property name="cronExpression">   
			<!--<value>0/30 * * * * ?</value>-->
           <!-- <value>0/20 * * * * ?</value>-->
            <!--<value>* * 0/12 * * ?</value>-->
            <value>0 0 0,12 * * ?</value>
		</property>   
	</bean>
	<!-- 启动定时器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">   
        <property name="triggers">   
           <list>
           		<ref bean="cronTrigger"/>
           </list>   
        </property>   
    </bean>
</beans>