<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("/WEB-INF/templates/portal/public/meta.html")
#parse("/WEB-INF/templates/portal/public/css_portal.html")
#parse("/WEB-INF/templates/portal/public/js_commons.html")
</head>

<body>
#parse("/WEB-INF/templates/portal/share/top.html")
<div class="center">
     <div class="ccwlimg"><img src="#ctx()/resources/style/portal/warehousingLogistics/images/wl.jpg" /></div>
     <div class="ccwl">
          <div class="title">联盟仓库</div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司吉山分公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司吉山分公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司吉山分公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司吉山分公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img">鱼珠仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司吉山分公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
          <div class="yz">
               <div class="img2">上海仓</div>
               <strong>鱼珠仓</strong>
               <span>广东鱼珠物流基地有限公司吉山分公司</span>
               <p>面积24万平方米，年吞吐量2000万吨</p>
          </div>
     </div>
</div>
#parse("/WEB-INF/templates/portal/share/foot.html")
</body>
</html>
