
<div class="w998">
	<div class="pinzhong">品种</div>
	<div id="tb_" class="tb1_">
		<ul>
			<li id="tb_0" class="hovertab" onclick="selectChild('','0')">全部</li> 			<li id="tb_18930" thisId="18930" onclick="selectChild('天然气','tb_18930')" class="normaltab">天然气</li> 			<li id="tb_19220" thisId="19220" onclick="selectChild('燃油','tb_19220')" class="normaltab">燃油</li> 			<li id="tb_19489" thisId="19489" onclick="selectChild('煤炭','tb_19489')" class="normaltab">煤炭</li> 			<li id="tb_19494" thisId="19494" onclick="selectChild('石油','tb_19494')" class="normaltab">石油</li> 			<li id="tb_19503" thisId="19503" onclick="selectChild('化工','tb_19503')" class="normaltab">化工</li> 			<li id="tb_19506" thisId="19506" onclick="selectChild('塑料','tb_19506')" class="normaltab">塑料</li> 		</ul>
	</div>


	<div class="pinming">品名</div>
	<div class="ctt21">

				<div class="dis" id="parentId_18930" style="display: none">
			<ul>
								<li onclick="selectByItemGoodsName('家用液化天然气','tb_18930','19047')"><a id="19047" class="" href="#">家用液化天然气</a>
				</li> 				<li onclick="selectByItemGoodsName('煤制气','tb_18930','19502')"><a id="19502" class="" href="#">煤制气</a>
				</li> 				<li onclick="selectByItemGoodsName('煤制气w','tb_18930','19795')"><a id="19795" class="" href="#">煤制气w</a>
				</li> 				<li onclick="selectByItemGoodsName('测试属性4','tb_18930','19794')"><a id="19794" class="" href="#">测试属性4</a>
				</li> 				<li onclick="selectByItemGoodsName('材质22','tb_18930','19796')"><a id="19796" class="" href="#">材质22</a>
				</li> 			</ul>
		</div>

				<div class="dis" id="parentId_19220" style="display: none">
			<ul>
								<li onclick="selectByItemGoodsName('2222','tb_19220','19799')"><a id="19799" class="" href="#">2222</a>
				</li> 			</ul>
		</div>

				<div class="dis" id="parentId_19489" style="display: none">
			<ul>
								<li onclick="selectByItemGoodsName('动力煤','tb_19489','19490')"><a id="19490" class="" href="#">动力煤</a>
				</li> 				<li onclick="selectByItemGoodsName('无烟煤','tb_19489','19492')"><a id="19492" class="" href="#">无烟煤</a>
				</li> 				<li onclick="selectByItemGoodsName('炼焦煤','tb_19489','19491')"><a id="19491" class="" href="#">炼焦煤</a>
				</li> 				<li onclick="selectByItemGoodsName('喷吹煤','tb_19489','19493')"><a id="19493" class="" href="#">喷吹煤</a>
				</li> 			</ul>
		</div>

				<div class="dis" id="parentId_19494" style="display: none">
			<ul>
								<li onclick="selectByItemGoodsName('燃料油','tb_19494','19496')"><a id="19496" class="" href="#">燃料油</a>
				</li> 				<li onclick="selectByItemGoodsName('液化气','tb_19494','19498')"><a id="19498" class="" href="#">液化气</a>
				</li> 				<li onclick="selectByItemGoodsName('船用油','tb_19494','19497')"><a id="19497" class="" href="#">船用油</a>
				</li> 				<li onclick="selectByItemGoodsName('溶剂油','tb_19494','19500')"><a id="19500" class="" href="#">溶剂油</a>
				</li> 				<li onclick="selectByItemGoodsName('沥青','tb_19494','19501')"><a id="19501" class="" href="#">沥青</a>
				</li> 				<li onclick="selectByItemGoodsName('成品油','tb_19494','19495')"><a id="19495" class="" href="#">成品油</a>
				</li> 				<li onclick="selectByItemGoodsName('二甲醚','tb_19494','19499')"><a id="19499" class="" href="#">二甲醚</a>
				</li> 			</ul>
		</div>

				<div class="dis" id="parentId_19503" style="display: none">
			<ul>
								<li onclick="selectByItemGoodsName('甲醛','tb_19503','19505')"><a id="19505" class="" href="#">甲醛</a>
				</li> 				<li onclick="selectByItemGoodsName('甲醇','tb_19503','19504')"><a id="19504" class="" href="#">甲醇</a>
				</li> 			</ul>
		</div>

				<div class="dis" id="parentId_19506" style="display: none">
			<ul>
								<li onclick="selectByItemGoodsName('PE','tb_19506','19507')"><a id="19507" class="" href="#">PE</a>
				</li> 			</ul>
		</div>

			</div>
</div>