<div id="resourceClassificationAll" class="resouce-classification-close"> 
	<div class="center_top_left" id="resourceClassificationDiv" style="display:none;">
		<ul class="navleft" id="resourceClassificationUl" style="height: 310px;">
					<li class="white"><a href="#" ><h3>天然气</h3><!-- <span>昨日成交:<strong>123000</strong>吨</span> --></a></li>  
					<li class="white"><a href="#" ><h3>燃油</h3><!-- <span>昨日成交:<strong>123000</strong>吨</span> --></a></li>  
					<li class="white"><a href="#" ><h3>煤炭</h3><!-- <span>昨日成交:<strong>123000</strong>吨</span> --></a></li>  
					<li class="white"><a href="#" ><h3>石油</h3><!-- <span>昨日成交:<strong>123000</strong>吨</span> --></a></li>  
					<li class="white"><a href="#" ><h3>化工</h3><!-- <span>昨日成交:<strong>123000</strong>吨</span> --></a></li>  
					<li class="white"><a href="#" ><h3>塑料</h3><!-- <span>昨日成交:<strong>123000</strong>吨</span> --></a></li>  
				</ul>
				<div class="hh" itemGoodsNames="天然气" pId="tb_18930" classification-name="天然气">
			<div style="display:none;">
				<div class="nn">
					<ul>
											<li><a href="javascript:void(0);" itemGoodsName="家用液化天然气" pId="tb_18930" cId="19047">家用液化天然气</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="煤制气" pId="tb_18930" cId="19502">煤制气</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="煤制气w" pId="tb_18930" cId="19795">煤制气w</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="测试属性4" pId="tb_18930" cId="19794">测试属性4</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="材质22" pId="tb_18930" cId="19796">材质22</a></li>
										</ul>
				</div>
				<div class="zz"></div>
			</div>
		</div> 
				<div class="hh" itemGoodsNames="燃油" pId="tb_19220" classification-name="燃油">
			<div style="display:none;">
				<div class="nn">
					<ul>
											<li><a href="javascript:void(0);" itemGoodsName="2222" pId="tb_19220" cId="19799">2222</a></li>
										</ul>
				</div>
				<div class="zz"></div>
			</div>
		</div> 
				<div class="hh" itemGoodsNames="煤炭" pId="tb_19489" classification-name="煤炭">
			<div style="display:none;">
				<div class="nn">
					<ul>
											<li><a href="javascript:void(0);" itemGoodsName="动力煤" pId="tb_19489" cId="19490">动力煤</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="无烟煤" pId="tb_19489" cId="19492">无烟煤</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="炼焦煤" pId="tb_19489" cId="19491">炼焦煤</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="喷吹煤" pId="tb_19489" cId="19493">喷吹煤</a></li>
										</ul>
				</div>
				<div class="zz"></div>
			</div>
		</div> 
				<div class="hh" itemGoodsNames="石油" pId="tb_19494" classification-name="石油">
			<div style="display:none;">
				<div class="nn">
					<ul>
											<li><a href="javascript:void(0);" itemGoodsName="燃料油" pId="tb_19494" cId="19496">燃料油</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="液化气" pId="tb_19494" cId="19498">液化气</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="船用油" pId="tb_19494" cId="19497">船用油</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="溶剂油" pId="tb_19494" cId="19500">溶剂油</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="沥青" pId="tb_19494" cId="19501">沥青</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="成品油" pId="tb_19494" cId="19495">成品油</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="二甲醚" pId="tb_19494" cId="19499">二甲醚</a></li>
										</ul>
				</div>
				<div class="zz"></div>
			</div>
		</div> 
				<div class="hh" itemGoodsNames="化工" pId="tb_19503" classification-name="化工">
			<div style="display:none;">
				<div class="nn">
					<ul>
											<li><a href="javascript:void(0);" itemGoodsName="甲醛" pId="tb_19503" cId="19505">甲醛</a></li>
											<li><a href="javascript:void(0);" itemGoodsName="甲醇" pId="tb_19503" cId="19504">甲醇</a></li>
										</ul>
				</div>
				<div class="zz"></div>
			</div>
		</div> 
				<div class="hh" itemGoodsNames="塑料" pId="tb_19506" classification-name="塑料">
			<div style="display:none;">
				<div class="nn">
					<ul>
											<li><a href="javascript:void(0);" itemGoodsName="PE" pId="tb_19506" cId="19507">PE</a></li>
										</ul>
				</div>
				<div class="zz"></div>
			</div>
		</div> 
				<div id="resourceExpendOrClose" class="resource-close"></div>
	</div>
</div>