	<link type="text/css" rel="stylesheet" href="#ctx()/resources/style/theme/1/style.css" />
	<link type="text/css" rel="stylesheet" href="#ctx()/resources/js/widgets/jquery.validation/jquery.validate.css" />
	<link type="text/css" rel="stylesheet" href="#ctx()/resources/js/widgets/jquery.blockui/DialogUI.css" />
	<script type="text/javascript" src="#ctx()/resources/js/jquery.js"></script>
	<script type="text/javascript" src="#ctx()/resources/js/widgets/jquery.validation/jquery.validate.js"></script>
	<script type="text/javascript" src="#ctx()/resources/js/widgets/jquery.validation/messages_cn.js"></script>
	<script type="text/javascript" src="#ctx()/resources/js/widgets/jquery.blockui/jquery.blockUI.js"></script>
	<script type="text/javascript" src="#ctx()/resources/js/commons.js"></script>
	<script type="text/javascript" src="#ctx()/resources/js/validation.js"></script>
	
	
