/* CSS Document */



.menu1 {
	background-image: url(folder3.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.menu2 {
	background-image: url(folder4.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.menu3 {
	background-image: url(folder3.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.menu4{
	background-image: url(folder4.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.menu5 {
	background-image: url(folder3.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.menu6 {
	background-image: url(folder4.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.list{
	padding-left: 20px;
	background-image: url(list.gif);
	background-repeat: repeat-y;
}
.list1{
	padding-left: 20px;
}

.file{
	background-image: url(last3.gif);
	background-repeat: no-repeat;
	height: 16px;
	cursor: hand;
	padding-left: 16px;
}
.file1 {
	background-image: url(last5.gif);
	background-repeat: no-repeat;
	height: 16px;
	cursor: hand;
	padding-left: 16px;
}

.mlevel11 {
	background-image: url(level16.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel12 {
	background-image: url(level14.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}


.mlevel13 {
	background-image: url(level11.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel14 {
	background-image: url(level12.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}


.mlevel21 {
	background-image: url(level26.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel22 {
	background-image: url(level24.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}


.mlevel23 {
	background-image: url(level21.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel24 {
	background-image: url(level22.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.mlevel31 {
	background-image: url(level36.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel32 {
	background-image: url(level34.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}


.mlevel33 {
	background-image: url(level31.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel34 {
	background-image: url(level32.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

.mlevel41 {
	background-image: url(level46.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel42 {
	background-image: url(level44.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}


.mlevel43 {
	background-image: url(level41.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel44 {
	background-image: url(level42.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel51 {
	background-image: url(level56.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel52 {
	background-image: url(level54.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}


.mlevel53 {
	background-image: url(level51.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}
.mlevel54 {
	background-image: url(level52.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 16px;
	padding-left: 16px;
	cursor: hand;
}

body {
	font-size: 9pt;
	color: #000000;
	background-color: #FFFFFF;
}
a:link {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 9pt;
	color: #0000FF;
	text-decoration: none;
	position: relative;
	right: 1px;
	bottom: 1px;
}
a:active {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.test {
	font-size:24px;
	background-color:#FF0000;
}
.tabcss
{
border-collapse:collapse;
background:rgb(225,225,225);
 border:none;
font-size: 8pt;
 mso-border-alt:solid windowtext .5pt;
 mso-padding-alt:0cm 5.4pt 0cm 5.4pt
}
.tabtdcss
{
width:70.5pt;
border:solid windowtext .5pt;
border-top:none;
font-size: 10pt; 
color: #9900FF;
mso-border-top-alt:solid windowtext .5pt;
padding:0cm 5.4pt 0cm 5.4pt;
background:#6699dd
}
.subtabcss
{
border-collapse:collapse;
background:#6699ff;
 border:none;
font-size: 10pt; 
color: #9900FF;
 mso-border-alt:solid windowtext .5pt;
 mso-padding-alt:0cm 5.4pt 0cm 5.4pt
}
.subtd
{
width:70.5pt;
font-size: 10pt; 
color: #9900FF;
border:solid windowtext .5pt;
border-top:none;
mso-border-top-alt:solid windowtext .5pt;
padding:0cm 5.4pt 0cm 5.4pt
}