<beans xmlns="http://www.springframework.org/schema/beans"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"   
    xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://www.springframework.org/schema/context    
        http://www.springframework.org/schema/context/spring-context.xsd     
        http://www.directwebremoting.org/schema/spring-dwr      
        http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"    
        default-autowire="byName" default-lazy-init="true">

    <!-- 注意这里新增加的dwr tag, 为使其生效，文件头中要声明namespace -->
    <dwr:configuration>
    
        <dwr:create type="spring" javascript="sysPersonFavManager">
            <dwr:param name="beanName" value="sessionLogin" />
 			<dwr:include method="addPersonFav"/>
 			<dwr:include method="delPersonFav"/>
        </dwr:create>
		<dwr:create type="spring" javascript="systemConfigService">
            <dwr:param name="beanName" value="systemConfigService" />
 			<dwr:include method="pv"/>
        </dwr:create>
		<dwr:create type="spring" javascript="articleService">
            <dwr:param name="beanName" value="articleService" />
 			<dwr:include method="pv"/>
        </dwr:create>
    	<!-- 
    	<dwr:create javascript="checkService" type="new" class="com.gdwz.system.CheckService" />
    	
    	<dwr:create javascript="DESPlus" type="new" class="com.gdwz.utils.DESPlus" >
    		<dwr:include method="doEncrypt"/>
    		<dwr:include method="doDecrypt"/>
    	</dwr:create> -->
    	<!-- 
    	<dwr:create javascript="acegi" type="new" class="com.gdwz.modules.security.springsecurity.SpringSecurityUtils" >
    		<dwr:include method="loginCheck"/>
    		<dwr:include method="getUsername"/>
    	</dwr:create>
        <dwr:create type="spring" javascript="typeService">
            <dwr:param name="beanName" value="typeService" />
 			<dwr:include method="getTypeByPanentId"/>
        </dwr:create> -->
    </dwr:configuration>
    
<!-- 
    <context:annotation-config />
-->
    <!-- 
    <dwr:annotation-config />
    <dwr:url-mapping />
    -->

    <!-- 部署项目时, 请把debug设为false 
    <dwr:controller id="dwrController" debug="true" />-->
        
    <!-- 多个包名用逗号隔开, 但不能有空格 
    <context:component-scan base-package="com.myapp.web.controller" />-->

    <!-- order值越小, 优先级越高 
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="order" value="1" />
    </bean>
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="order" value="2" />
    </bean>-->

 </beans>