<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<div style="clear:both;"></div>
<div class="footer">
	<div class="bootomNav">
		<div class="container">
			<div>
				<div class="bootomNavMeassage">
					<span>新手指南</span>
					<ul>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
					</ul>
				</div>
				<div class="bootomNavMeassage">
					<span>交易须知</span>
					<ul>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
					</ul>
				</div>
				<div class="bootomNavMeassage">
					<span>资金管理</span>
					<ul>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
					</ul>
				</div>
				<div class="bootomNavMeassage">
					<span>金融服务</span>
					<ul>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
					</ul>
				</div>
				<div class="bootomNavMeassage2">
					<span>平台特色</span>
					<ul>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
						<li><a>如何注册会员</a></li>
					</ul>
				</div>
				<div class="bootomQrCode"></div>
			</div>
		</div>
	</div>
	<div class="footerNav">
		<div class="container">
			<ul>
				<li class="first">华南大宗物资交易中心网站群</li>
				<li class="second"><a>广东物资集团公司官网</a></li>
				<li><a>钢铁王国</a></li>
				<li><a>木材王国</a></li>
				<li><a>汽车王国</a></li>
				<li><a>松香王国</a></li>
				<li class="last"><a>广物小额贷</a></li>
			</ul>
		</div>
	</div>
	<div class="footerLink">
		<div class="container"
			style="height:20px;margin-top:30px;margin-bottom:20px;"
			align="center">
			<a>首页</a> <a>关于我们</a> <a>合作伙伴</a> <a>法律申明</a> <a>联系我们</a> <a
				class="last">广告服务</a>
		</div>
		<span class="container" style="display: block;margin-bottom:10px;">广东广物金属电子商务有限公司
			<img
			src="#ctx()/resources/style/portal/center/images/footer/statistics.png" />
		</span> <span class="container" style="display: block;">$!APP.copyRight</span>
		<div class="container"
			style="display: block;border-right:0;margin-top:10px;margin-bottom:20px; height:80px;">
			<a style="border-right:none"><img
				src="#ctx()/resources/style/portal/center/images/footer/save.png" />
			</a>
		</div>
	</div>
</div>