<div class="memberright">
	<div class="company">
		<div class="logo">
			<img src="#ctx()/resources/style/portal/center/images/companylogo.jpg" />
		</div>
		<div class="companyname">
			<strong>某集团</strong>
			<p>
				总成交数：<span>0</span> 笔
			</p>
			<p>入市时间：2014-09-19</p>
		</div>
		<div class="landtime">
			<span>最近登录时间</span>：2014-09-19 14:22 <span style="padding-left:20px;">总挂牌量：20</span>
		</div>
	</div>
	<div class="fbgp">
		<strong>我的挂牌信息</strong> <a class="button1" href="#">+ 发布挂牌</a> <span
			class="kk"><a href="#">更多挂牌信息 >></a> </span>
		<table cellspacing="0">
			<tr>
				<td bgcolor="#f0f0f0" width="190">产品名称</td>
				<td bgcolor="#f0f0f0" width="115">数量</td>
				<td bgcolor="#f0f0f0" width="115">单价</td>
				<td bgcolor="#f0f0f0" width="140">产地</td>
				<td bgcolor="#f0f0f0" width="170">交收仓</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<td>[煤炭]喷吹煤</td>
				<td>10.000吨</td>
				<td>1899元/吨</td>
				<td>XXXXXXX</td>
				<td>XXXXXXX</td>
			</tr>
		</table>
		<div class="fanye2">
			<div class="fanyebox">
				<a href="#">首页</a>
			</div>
			<span class="span">第</span>
			<div class="number">
				<a class="selected5" href="#">1</a> <a class="selected6" href="#">2</a>
				<a class="selected6" href="#">3</a> <a class="selected6" href="#">4</a>
				<a class="selected6" href="#">5</a>
			</div>
			<span class="span2">页</span>
			<div class="fanyebox">
				<a href="#">末页</a>
			</div>
		</div>
	</div>
</div>