<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>操作板面切换</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="#ctx()/resources/style/theme/1/style.css">
<link rel="stylesheet" type="text/css" href="#ctx()/resources/style/theme/1/pheader.css">
</head>
<body>
<div id="tabs">
  <ul id="nav_menu">
    <li><a id="menu_1" href="javascript:parent.view_menu(1);" title="导航菜单" class="active"><span>系统菜单</span></a></li>
    <li><a id="menu_2" href="javascript:parent.view_menu(2);" title="快捷方式"><span>快捷方式</span></a></li>
  </ul>
</div>
<table border='0' cellspacing='0' cellpadding='0' style='height:100%;width:100%;' valign='middle' align='center' class="table1"><tr><td>&nbsp;</td></tr></table>
</body>
</html>