<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="#ctx()/resources/style/theme/1/style.css">
<link rel="stylesheet" type="text/css" href="#ctx()/resources/style/theme/1/status_bar.css">
<title>状态栏</title>
</head>
<body class="statusbar" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" >
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="small">
  <tr>
    <td align="left" width="27%" height="18">&nbsp;
       <a href='#ctx()/center/rbac/onLineUser/list.htm' target="table_index" title="查看在线的用户">
       	共<span id="onLineCount"></span>人在线</a>
    </td>
    <td align="center" width="46%" ><span id="copyRight">$!APP.copyRight</span></td>
    <td align="right" width="27%" valign="middle" ><span id="msn"></span></td>
  </tr>
</table>
</body>
</html>
