<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>energyweb</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>spring.profiles.active</param-name>
    <!-- <param-value>test</param-value> -->
    <param-value>develop</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.gdwz.core.web.listener.SystemSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springServlet</servlet-name>
    <servlet-class>com.gdwz.core.web.servlet.CustomDispatchServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springServlet</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Direct Web Remoter Servlet</description>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/classes/dwr.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitSystemServlet</servlet-name>
    <servlet-class>com.gdwz.core.web.servlet.InitSystemServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StaticContentServlet</servlet-name>
    <servlet-class>com.gdwz.core.web.servlet.StaticContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticContentServlet</servlet-name>
    <url-pattern>/static-content</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoteContentServlet</servlet-name>
    <servlet-class>com.gdwz.core.web.servlet.RemoteContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteContentServlet</servlet-name>
    <url-pattern>/remote-content</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MemcachedSessionFilter</display-name>
    <filter-name>MemcachedSessionFilter</filter-name>
    <filter-class>com.gdwz.core.web.filter.MemcachedSessionFilter</filter-class>
    <init-param>
      <param-name>sessionId</param-name>
      <param-value>gdwz_energy_sid</param-value>
    </init-param>
    <init-param>
      <param-name>cookieDomain</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>cookiePath</param-name>
      <param-value>/</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MemcachedSessionFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>mgrJcaptchaFilter</filter-name>
    <filter-class>com.gdwz.core.web.security.jcaptcha.JCaptchaFilter</filter-class>
    <init-param>
      <param-name>captchaParamterName</param-name>
      <param-value>j_captcha</param-value>
    </init-param>
    <init-param>
      <param-name>failureUrl</param-name>
      <param-value>/manager/login.htm?error=2</param-value>
    </init-param>
    <init-param>
      <param-name>filterProcessesUrl</param-name>
      <param-value>/manager/loginCheck.htm</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>mgrJcaptchaFilter</filter-name>
    <url-pattern>/manager/jcaptcha.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mgrJcaptchaFilter</filter-name>
    <url-pattern>/manager/loginCheck.htm</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>frontJcaptchaFilter</filter-name>
    <filter-class>com.gdwz.core.web.security.jcaptcha.JCaptchaFilter</filter-class>
    <init-param>
      <param-name>captchaParamterName</param-name>
      <param-value>j_captcha</param-value>
    </init-param>
    <init-param>
      <param-name>failureUrl</param-name>
      <param-value>/user/login.htm?error=2</param-value>
    </init-param>
    <init-param>
      <param-name>filterProcessesUrl</param-name>
      <param-value>/user/loginCheck.htm</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>frontJcaptchaFilter</filter-name>
    <url-pattern>/user/jcaptcha.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>frontJcaptchaFilter</filter-name>
    <url-pattern>/user/loginCheck.htm</url-pattern>
  </filter-mapping>
  
  
  
   <filter>
    <filter-name>frontRegisterJcaptchaFilter</filter-name>
    <filter-class>com.gdwz.core.web.security.jcaptcha.JCaptchaFilter</filter-class>
    <init-param>
      <param-name>captchaParamterName</param-name>
      <param-value>j_captcha</param-value>
    </init-param>
    <init-param>
      <param-name>failureUrl</param-name>
      <param-value>/user/register.htm?error=2</param-value>
    </init-param>
    <init-param>
      <param-name>filterProcessesUrl</param-name>
      <param-value>/user/registerFinish.htm</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>frontRegisterJcaptchaFilter</filter-name>
    <url-pattern>/user/register/jcaptcha.jpg</url-pattern>
  </filter-mapping>
  <!-- <filter-mapping>
    <filter-name>frontRegisterJcaptchaFilter</filter-name>
    <url-pattern>/user/registerFinish.htm</url-pattern>
  </filter-mapping> -->
  
  
  
  <filter>
    <filter-name>cacheControlHeaderFilter</filter-name>
    <filter-class>com.gdwz.core.web.filter.CacheControlHeaderFilter</filter-class>
    <init-param>
      <param-name>expiresSeconds</param-name>
      <param-value>31536000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>cacheControlHeaderFilter</filter-name>
    <url-pattern>/resources/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/templates/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/templates/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/templates/error/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/templates/error/404.html</location>
  </error-page>
</web-app>